<p id="notice"><%= notice %></p>

<h1>Sub Tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_tags.each do |sub_tag| %>
      <tr>
        <td><%= sub_tag.name %></td>
        <td><%= sub_tag.tag %></td>
        <td><%= link_to 'Show', sub_tag %></td>
        <td><%= link_to 'Edit', edit_sub_tag_path(sub_tag) %></td>
        <td><%= link_to 'Destroy', sub_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Tag', new_sub_tag_path %>
