<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rights_holder.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @rights_holder.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rights_holder.email %>
</p>

<p>
  <strong>Stored product:</strong>
  <%= @rights_holder.stored_product %>
</p>

<%= link_to 'Edit', edit_rights_holder_path(@rights_holder) %> |
<%= link_to 'Back', rights_holders_path %>
