<h1>Your Catalogue of Books</h1>


<% items.each do |item| %>
	<div class="product">
		<div>
			<h2><%= item['product_title'] %></h2>	
			<%= image_tag item['image']%>
			<!-- SERIES INFO -->
			<% if item['series_name'].blank? %>
				<p><strong>Series Name:</strong> <%= item['series_name']%></p>
			<% end %>
			<% if item['series_number'].blank? %>
				<p><strong>Series Number:</strong> <%= item['series_number']%></p>
			<% end %>
	
			<!-- CONTRIBUTOR INFO -->
			<% Array(item['authors']).each do |author| %>
				<p>author: <%= author%></p>
			<% end %>
			<% Array(item['illustrators']).each do |illustrator| %>
				<p>illustrator: <%= illustrator%></p>
			<% end %>
			<% Array(item['translators']).each do |translator| %>
				<p>translator: <%= translator%></p>
			<% end %>
			<% Array(item['editors']).each do |editor| %>
				<p>editor: <%= editor%></p>
			<% end %>
		</div>
		<div>
			<!-- RIGHTS HOLDER INFO -->
			<p class="title">Rights Holder Info</p>
			<% if item['rights_holder'].blank? %>
				<p><strong>Rights Holder (Company):</strong> <%= item['rights_holder']%></p>
			<% end %>
			<% if item['rights_holder_info'].blank? %>
				<% item['rights_holder_info'].each do |key, val| %>
					<p><strong><%= key.to_s%>:</strong><%= val %></p>
				<% end %>
			<% end %>
			<p class="title">Additional Info</p>
			<% if item['number_of_pages'].blank? %>
				<p><strong># of pages:</strong> <%= item['number_of_pages']%></p>
			<% end %>
			<% if item['original_language'].blank? %>
				<p><strong>Original Language of Publication:</strong> <%= item['original_language']%></p>
			<% end %>
			<% if item['materials_available'].blank? %>
				<p><strong>Materials Available:</strong> <%= item['materials_available']%></p>
			<% end %>
			<% if item['rights_available'].blank? %>
				<p><strong>Rights Available:</strong> <%= item['rights_available']%></p>
			<% end %>
		</div>

		
		<p class="desc"><%= item['product_description']%></p>
	</div>
	<hr>
<% end %>


<style>
	img {
		max-width: 200px;
		max-height: 400px;
	}
	p {
		font-size: 12px;
	}
	.product > div {
		float: left;
		width: 45%;
	}
	.product >div:last-of-type {
		padding-left: 6%;
	}
	.desc {
		clear: both;
		font-size: 14px;
	}
	p.title {
		border-bottom: 4px solid #ebf5f1;
		font-size: 16px;
		font-weight: bold;
	}
	hr {
		page-break-before: always;
	}

</style>