<%= form_for(stored_product) do |f| %>
  <% if stored_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stored_product.errors.count, "error") %> prohibited this stored_product from being saved:</h2>

      <ul>
      <% stored_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body_html %>
    <%= f.text_field :body_html %>
  </div>

  <div class="field">
    <%= f.label :vendor %>
    <%= f.text_field :vendor %>
  </div>

  <div class="field">
    <%= f.label :product_type %>
    <%= f.text_field :product_type %>
  </div>

  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
