<p id="notice"><%= notice %></p>

<h1>Stored Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body html</th>
      <th>Vendor</th>
      <th>Product type</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stored_products.each do |stored_product| %>
      <tr>
        <td><%= stored_product.title %></td>
        <td><%= stored_product.body_html %></td>
        <td><%= stored_product.vendor %></td>
        <td><%= stored_product.product_type %></td>
        <td><%= stored_product.published %></td>
        <td><%= link_to 'Show', stored_product %></td>
        <td><%= link_to 'Edit', edit_stored_product_path(stored_product) %></td>
        <td><%= link_to 'Destroy', stored_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stored Product', new_stored_product_path %>
