<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @stored_product.title %>
</p>

<p>
  <strong>Body html:</strong>
  <%= @stored_product.body_html %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @stored_product.vendor %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @stored_product.product_type %>
</p>

<p>
  <strong>Published:</strong>
  <%= @stored_product.published %>
</p>

<%= link_to 'Edit', edit_stored_product_path(@stored_product) %> |
<%= link_to 'Back', stored_products_path %>
